# Dependencies
node_modules/
package-lock.json

# Environment variables & sensitive keys
.env
.env.*
*.env
serviceAccountKey.json
*.pem
*.key
*.cert

# Firebase cache & secrets
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Desktop App Builds
desktop-app/dist/
desktop-app/dist-packager/
desktop-app/node_modules/
desktop-app/*.png

